server {
	server_name webserv
	listen 0.0.0.0:4242

	root ./www/html
	index index.html

	allow_methods GET

	autoindex off
	client_body_limit 256 

	location /board {
		allow_methods GET DELETE
		root ./www/html/contents
	}

	location /board/post {
		allow_methods POST
		root ./www/html/contents
	}

	location /cgi {
		allow_methods GET
		cgi_info cgi_tester hello world
	}
}

server {
	server_name webserv
	listen 0.0.0.0:4243

	root ./www/html
	index index.html

	allow_methods GET

	autoindex off
	client_body_limit 256 

	location /board {
		allow_methods GET DELETE
		root ./www/html/contents
	}

	location /board/post {
		allow_methods POST
		root ./www/html/contents
	}

	location /cgi {
		allow_methods GET
		cgi_info cgi_tester hello world
	}
}

server {
	listen 0.0.0.0:8000
	return 301 https://profile.intra.42.fr/
}