server {
	server_name	youpi;
	listen 0.0.0.0:8000;

	root ./YoupiBanane;
	index index.html;

	allow_methods GET;

	location /post_body {
		allow_methods POST;
		client_body_limit 100;
	}

	location /directory {
		allow_methods GET POST;
		root ./YoupiBanane;
		index youpi.bad_extension;
		cgi_info .bla cgi_tester;
	}
}
